.main-title {
  text-align: center;
  margin: 50px 0;
  font-weight: 200;
  font-size: 50px;
}

.electronic-certificate-about {
  display: flex;
  align-items: center;
}

.electronic-certificate-about__img {
  height: 400px;
} 

.electronic-certificate-about__title {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 300;
  margin-right: 70px;
}

.electronic-certificate-description {
  margin: 100px 0;
}

.electronic-certificate-description__list-item {
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 20px;
}

.fw-500 {
  font-weight: 500;
}

.electronic-certificate-pay__title {
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.electronic-certificate-pay__office-title,
.electronic-certificate-pay__online-title {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 50px;
}

.electronic-certificate-pay__office, 
.electronic-certificate-pay__online {
  padding: 50px;
  box-shadow: 0px 0px 8px 8px rgb(0 0 0 / 20%);
  margin-bottom: 50px;
}

.electronic-certificate-pay__office-description {
  font-weight: 300;
  font-size: 18px;
  text-align: center;
}

.electronic-certificate-pay__online-item {
  padding-bottom: 50px;
}

.electronic-certificate-pay__online-item-title {
  font-size: 20px;
  padding-bottom: 20px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 50px;
  text-align: left;
  border-bottom: 1px solid;
}

.electronic-certificate-pay__online-item-box {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.electronic-certificate-pay__online-item-img {
  width: 800px;
}

.w-400 {
  width: 400px;
}

.electronic-certificate-pay__online-item-description {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 300;
  margin-bottom: 50px;
}

@media(max-width: 1050px) {
  .main-title {
    font-size: 40px;
  }

  .electronic-certificate-pay__online-item-img {
    width: 600px;
  }
}

@media(max-width: 780px) {
  .electronic-certificate-about {
    flex-direction: column-reverse;
  }

  .electronic-certificate-about__title {
    text-align: center;
    margin-right: 0;
  }

  .electronic-certificate-pay__online-item-img {
    width: 300px;
  }

  .electronic-certificate-about__img {
    height: 300px;
  }

  .electronic-certificate-pay__online-item-description {
    font-size: 13px;
  }

  .electronic-certificate-pay__office-description {
    font-size: 14px;
    text-align: left;
  }
}